<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login form</title>

<link href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
<link href="{{ static_url('dist/css/login.css') }}" rel="stylesheet">

  <style type="text/css">
  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
  </style>
</head>

<body>
  <div class="menu">
  <ul class="mainmenu clearfix">
    <li class="menuitem">Well</li>
    <li class="menuitem">how</li>
    <li class="menuitem">about</li>
    <li class="menuitem">that?</li>
  </ul>
</div>
<!-- <button id="findpass">What's the password?</button> -->
<div class="form">
  <div class="forceColor"></div>
   <form role="form" action="/login" method="post">
	  <div class="topbar">
	    <div class="spanColor"></div>
		 <input type="text" class="input" id="userName" name="userName" placeholder="userName"/>
	
		<input type="password" class="input" id="password" name="userPwd" placeholder="Password"/>
	  </div>
	  <button class="submit" type="submit" id="submit" >{{title}}</button>
  </form>
</div>

<!-- <article class="article">
  <h1>This is an article</h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in laoreet mi. In hac habitasse platea dictumst. Ut varius scelerisque ipsum ac pretium. Aenean a luctus dolor. Fusce sodales iaculis ipsum vel aliquam. In tincidunt tellus faucibus nibh interdum, vel sollicitudin erat maximus. Etiam leo nisl, sodales id vulputate in, tincidunt facilisis felis. Mauris pellentesque libero in vestibulum porta. Vestibulum at nisi ullamcorper, molestie magna non, rhoncus nisi.

Duis vitae dapibus tortor. Quisque nec accumsan lacus. Ut purus nisl, semper sed justo interdum, venenatis facilisis mauris. Nulla et ipsum porttitor, hendrerit justo eu, euismod diam. Curabitur ac porttitor purus, ac gravida massa. Curabitur eleifend dolor eu tellus pretium, sit amet tristique leo tristique. Nulla sed maximus urna, quis varius neque. Pellentesque a ante tincidunt, maximus urna vitae, ultricies metus. Duis eu accumsan turpis. Ut vitae lorem auctor augue aliquet accumsan. Etiam sit amet eleifend libero, nec gravida nibh. Maecenas vitae ligula sodales, tempor nulla eget, bibendum justo. Proin vitae lectus malesuada, varius lacus a, tempor nisl. Vestibulum eget massa a arcu euismod fringilla a vitae magna. Aliquam nec ultricies nisi. Mauris et accumsan purus.

Sed quis felis consequat, posuere urna sodales, finibus nibh. Morbi euismod ut leo in gravida. In eu arcu a leo cursus tincidunt at sit amet nunc. Nunc volutpat massa eu tortor ornare, at elementum purus finibus. Integer nec feugiat felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit, est id luctus porta, risus elit varius nibh, non tempus lectus nisl vel velit. Nulla cursus malesuada felis. Duis eget orci in massa auctor porttitor sed auctor lectus.

Praesent eget pulvinar metus. Cras aliquam mollis mollis. Suspendisse potenti. Ut massa eros, ultrices mollis venenatis sit amet, posuere eu velit. Pellentesque a ligula dolor. Fusce mollis sed odio non dictum. Cras at pharetra nisl. Vivamus feugiat est ac vehicula pulvinar. Integer sed metus ut justo elementum suscipit sed sed eros. Proin ornare lacus vitae orci pellentesque varius.

Sed malesuada ac lorem sit amet convallis. Nulla et mauris nec magna faucibus viverra. Maecenas imperdiet nulla at orci malesuada rhoncus. Maecenas vel efficitur purus. Cras sit amet nibh congue, varius leo in, tempor nisl. Vestibulum a orci non tellus feugiat consequat. Ut at turpis lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer quam ante, luctus ac pulvinar id, gravida id odio. Mauris eu neque venenatis, fermentum nunc eget, convallis turpis.
</article>
 -->  <script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
</body>
  <!-- <!-- <script src="js/index.js"></script> -->
</html>
