{% extends "base.html" %}

   
{% block container %}
<style>
.module_systemNull {
    text-align: center;
    font-size: 30px;
    color: #d2d2d2;
    padding-top: 380px;
    background: url( {{ static_url('dist/img/bg_systemNull.gif') }}) no-repeat center 80px;
}
</style>

            <div class="row">
                <!-- <div class="col-lg-12">
                    <h1 class="page-header">欢迎来到cabbage系统</h1>
                </div> -->
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            	<div class="col-lg-12">
					<div class="module_systemNull">
						欢迎来到cabbage系统!!
					</div>
                </div>
            </div>
            <!-- /.row -->
            
{% end %}

{% block extra_scripts %}    
{% end %}